* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left {
  flex: 1;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 70%;
  height: auto;
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
}

#logo {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 25px;
}

#logo img {
  width: 340px;
  height: 75px;
}

#welcome {
  text-align: center;
  margin-bottom: 25px;
}

#welcome p {
  color: #666;
  font-size: 1.2rem;
}

#input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#input input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #aaa;
  outline: none;
  height: 120%;
}

#input input:focus {
  border-left: 4px solid transparent;
  border-left-color: #fecb2a;
}

.Remember {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 15px;
}

#button {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  width: 35%;
}

#button button {
  flex: 1;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
}

#login {
  background: #fecb2a;
  color: #fff;
  border: none;
  box-shadow: 0 8px 21px 2px rgba(0, 0, 0, 0.3);
  ;
}

#sign {
  background: #fff;
  color: #fecb2a;
  border: 1px solid #fecb2a;
  box-shadow: 0 4px 4px #d2af3e;
}

#suggest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 47%;
  color: #666;
  font-size: 16px;
}

.inputs {
  border-left: 4px solid transparent;
  transition: 0.2s;
}

.inputs.active {
  border-left-color: #fecb2a;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    padding-top: 60px;
  }
}

@media (min-width: 768px) {
  #button button {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  #logo img {
    width: 230px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }

  #logo img {
    width: 260px;
  }

  .left img {
    width: 60%;
  }
}

.floating-group {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.floating-group input {
  transition: 0.3s ease;
}

.floating-group input:focus {
  border-color: #f1c232;
  box-shadow: 0 0 4px rgba(241, 194, 50, 0.4);
}

.floating-group label {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 15px;
  color: #777;
  pointer-events: none;
  transition: 0.25s ease;
}


.floating-group input:focus+label,
.floating-group input:not(:placeholder-shown)+label {
  top: 2px;
  left: 10px;
  background: rgba(255, 255, 255, 0);
  padding: 0 5px;
  font-size: 12px;
  color: #f1c232;
}