     * {
         margin: 0;
         padding: 0;
         font-family: sans-serif;
     }

     body {
         margin: 0;
     }

     .container {
         display: flex;
         height: 100vh;
         width: 100%;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
     }

     nav {
         height: 10vh;
         width: 90%;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     nav ul {
         display: flex;
         align-items: center;
         list-style: none;
         gap: 50px;
     }

     .main {
         width: 100%;
         height: 80vh;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
     }

     .number {
         width: 100%;
         height: 10vh;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 20px;
     }

     .question {
         width: 100%;
         height: 30vh;
         font-size: 30px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #fecb2a;
         color: white;
         text-align: center;
     }

     .option {
         width: 90%;
         height: 15vh;
         display: flex;
         justify-content: space-around;
         align-items: center;
         gap: 10px;
     }

     .option div {
         flex: 1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #d1d1d1;
         padding: 30px;
         border-radius: 2px;
         cursor: pointer;
         transition: 0.3s;
     }

     .option div.selected {
         background-color: #fecb2a;
         color: white;
     }

     .button {
         width: 90%;
         height: 15vh;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
     }

     button {
         height: 40px;
         width: 130px;
         margin-right: 15px;
         font-size: 20px;
         background-color: #ffffff;
         display: flex;
         flex-direction: row;
         color: #fecb2a;
         justify-content: space-around;
         align-items: center;
         border: 1px solid #fecb2a;
         cursor: pointer;

         img {
             height: 10px;
             width: 10px;
         }
     }

     .tbtn {
         height: 60%;
         width: 25%;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .tbtn button {
         height: 90%;
         width: 45%;
         font-size: 20px;
         border: none;
         border-radius: 2px;
         cursor: pointer;
     }

     #fbtn {
         background-color: #fecb2a;
         color: #fff;
     }

     #sbtn {
         background-color: white;
         width: 100px;
         color: #fecb2a;
         border: 1px solid #fecb2a;

         img {
             height: 15px;
             width: 15px;
         }
     }

     #overlay {
         z-index: 10;
         height: 80vh;
         width: 65%;
         position: absolute;
         background-color: rgb(255, 255, 255);
         display: none;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         border: 2px solid #000000;

         #score-image {
             background-image: url(image/Dayflow\ Abstract\ 1.png);
             background-repeat: no-repeat;
             background-position: center;
             height: 70vh;
             width: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             color: white;

             img {
                 height: 100%;
                 width: 100%;
             }
         }
     }

     #score {
         font-size: 30vh;
     }

     #Complete {
         padding: 10px 20px;
         background: #fecb2a;
         color: #fff;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }

     #timer {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         font-size: 8px;
         font-weight: bold;
         display: flex;
         flex-direction: row;

         h1 {
             position: absolute;
             left: 15px;
             top: 15px;
         }
     }

     .progress-bar {
         width: 60%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
     }

     .progress-bar::before {
         content: "";
         position: absolute;
         top: 50%;
         width: 100%;
         height: 4px;
         background: #e0e0e0;
         z-index: 1;
     }

     .progress-fill {
         position: absolute;
         top: 50%;
         left: 5%;
         height: 4px;
         background: #fecb2a;
         z-index: 2;
         transition: width 0.3s;
     }


     .progress-step {
         position: relative;
         z-index: 3;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background: #d1d1d1;
         display: flex;
         justify-content: center;
         align-items: center;
         font-weight: bold;
         transition: 0.3s;
     }

     .progress-step.active {
         background: #fecb2a;
         color: white;
     }